# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
baby-tools-env/
.venv/
venv/
env/
ENV/

# Environment variables / secrets
.env
*.env
!example.env

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
*/static/admin

# Test / coverage
.coverage
.coverage.*
coverage.xml
htmlcov/

# Node
node_modules/

# IDEs / editors
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
